html,
body {
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%; // change default root font
}

body {
  font-size: 1.6rem;
  font-weight: 500;
  // At 62.5%, 1.6rem translates to 16px (1.6 times the size of the root font)
  // If root font size at 100%, 1rem = 16px
  // rem unit giving much flexible about font-size than fixed px
  // with 62.5%, easier to set font-size with rem 1rem = 10px
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  overflow-y: overlay;
  position: relative;
}

button,
input,
[tabindex] {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
  transition: all 300ms ease;
  color: #000;
  &:hover {
    color: $blue;
    img {
      opacity: 0.85;
    }
  }
}

img {
  transition: all 300ms ease;
}

.translate-up {
  transition: all 300ms ease;

  &:hover {
    transform: translateY(-5px);
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
      rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  }
}
