$red: #d70a0a;

.section-text-marquee {
  margin-bottom: 2rem;
  .marquee-wrapper {
    background-color: #d70a0a;
    font-weight: bold;
    margin-top: 20px;
  }

  .marquee-wrapper .text {
    font-size: 1.4rem;
    color: white;
    white-space: nowrap;
    border-right: 1px solid white;
    background: url("../uploads/bg-notify.png") left center no-repeat;
    background-size: auto 100%;
    padding: 10px 20px 10px 35px;
  }

  .marquee-wrapper .text-run {
    padding: 0 15px;
    width: 100%;
  }

  .marquee-wrapper marquee {
    font-size: 1.4rem;
    text-transform: uppercase;
    color: #fff568;
    font-weight: 500;
    line-height: 38px;
    white-space: nowrap;
  }

  @media screen and (max-width: 767px) {
    .marquee-wrapper .text {
      padding: 10px;
      background: #d70a0a none;
    }
  }

  .align-middle {
    display: -webkit-box;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
  }
}

.section-media {
  margin-bottom: 2rem;
  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .swiper-pagination-bullet {
    background: #fff;
  }

  .section-media-image {
    margin-bottom: 2rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
      rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
      rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    .news-content {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.7);
      color: white;
      padding: 10px 15px 30px;

      a {
        color: #fff;
      }
    }

    .news-content .news-content-title {
      font-size: 1.5rem;
      font-weight: bold;
    }
  }

  .section-media-video {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    max-height: 430px;
    margin-bottom: 2rem;
    .media-video-player {
      box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
        rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
        rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    }
    .media-video-selector {
      box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
        rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
        rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
      .form-select {
        font-size: 1.6rem;
        font-weight: 500;
        text-wrap: auto;
      }
    }
  }
}

.section-media-banner {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  img {
    width: 100%;
    height: 150px;
  }
}

.section-home-content {
  // common style
  .content-title {
    color: white;
    background: url(../uploads/bg-title.png) center center no-repeat;
    background-size: 100% 100%;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin: 0;
    line-height: normal;
    padding: 10px 15px;
    width: fit-content;
  }
  .news-list {
    list-style: disc;
    a {
      font-size: 1.4rem;
    }
    li {
      padding-bottom: 1rem;
    }
    li::marker {
      color: $red;
    }
  }

  // section style

  .section-main-wrapper {
    .main-content-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .read-all {
      font-size: 1.4rem;
      &::after {
        content: "\f105";
        font-family: "Font Awesome 6 Free";
        margin-left: 5px;
      }
    }
    .section-hot-news {
      box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
        rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
        rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;

      padding: 1rem;
      margin-bottom: 2rem;

      .hot-news-wrapper {
        img {
          width: 100%;
        }
      }
    }
    .section-main-banner {
      box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
        rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
        rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
      margin-bottom: 2rem;
      img {
        width: 100%;
      }
    }
    .section-news {
      margin-bottom: 2rem;
      .section-news-wrapper {
        box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
          rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
          rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
        padding: 1rem;
        .main-content-card {
          .card {
            border: none;

            .card-wrapper {
              border-bottom: 1px solid #e1e1e1;
              padding: 1rem;
            }
            .news-list {
              padding: 1rem 1rem 0 3rem;
              a {
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                overflow: hidden;
              }
            }
            img {
              width: 100%;
            }
            .card-body {
              padding: 0 0 0 1rem;
              a {
                font-size: 1.4rem;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 4;
                overflow: hidden;
              }
            }
          }
        }
      }

      &.news-page {
        .card {
          .card-title {
            font-weight: bold;
            font-size: 1.4rem;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
          }
          .card-text {
            font-size: 1.4rem;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            overflow: hidden;
          }
        }
      }
    }
    .section-nav {
      box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
        rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
        rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
      margin-bottom: 2rem;
      ul.nav {
        background-color: #00aeff;
      }
      .nav-link.active {
        border-radius: unset;
        background: url(../uploads/bg-title.png) left center no-repeat;
        background-size: 100% 100%;
      }
      .tab-content {
        ul {
          list-style: none;
          display: flex;
          flex-wrap: wrap;
          row-gap: 1rem;
          padding: 1rem;
          li {
            flex: 0 0 25%;
          }
        }
      }
    }
  }

  .aside-content-wrapper {
    margin-bottom: 2rem;
    .content-list {
      margin-bottom: 2rem;
    }
    .aside-content-title {
      width: 100%;
    }
    .aside-content {
      box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
        rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
        rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
      ul {
        margin: 0;
        list-style: none;
        padding: 1rem 1rem 1rem 3rem;
        padding-left: 3rem;
        li {
          position: relative;
          padding: 5px 10px 5px 0;

          &::before {
            content: "\f0da";
            font-family: "Font Awesome 6 Free";
            position: absolute;
            top: 5px;
            left: -15px;
            color: $red;
          }
          a {
            font-size: 1.4rem;
          }
        }
      }
    }
    .content-banner {
      a {
        box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
          rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
          rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
        display: block;
        margin-bottom: 1rem;
        img {
          width: 100%;
        }
      }
    }
    .aside-link-selector {
      margin: 2rem 0;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
        rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
        rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
      &.form-select {
        font-size: 1.6rem;
        font-weight: 500;
        text-wrap: auto;
      }
    }
    .aside-footer {
      .visitor-tracking-wraper {
        margin-bottom: 1rem;
      }
      .visitor-tracking-wraper > div {
        padding: 0;
      }

      .visitor-tracking-wraper .tracking-label {
        color: #b4210b;
        font-weight: normal;
        white-space: nowrap;
      }

      .visitor-tracking-wraper .tracking-value {
        color: #b4210b !important;
      }
    }
  }
}

@include media-breakpoint-down(xl) {
  .section-home-content .section-main-wrapper .section-nav .tab-content ul li {
    flex: 0 0 50%;
  }
}
@include media-breakpoint-down(lg) {
  .media-video-player {
    margin-bottom: 1rem;
  }
  .section-media .section-media-video {
    max-height: unset;
    height: unset;
  }
  .section-media-banner img {
    height: auto;
  }
}
@include media-breakpoint-down(md) {
  .section-home-content .section-main-wrapper {
    .section-nav {
      .nav-link {
        width: 100%;
      }
      .tab-content {
        ul {
          li {
            a {
              width: 100%;
            }
          }
        }
      }
    }
  }

  .section-home-content .section-main-wrapper .section-nav .tab-content ul li {
    flex: 0 0 100%;
  }
}
@include media-breakpoint-down(sm) {
}
